
body{
    background-image: url(http://www.catholicyyc.ca/uploads/6/5/5/7/65570685/faithfully-highlight-images-2_orig.png
    );
  

}
main {
    font-family: 'Orelega One', cursive;

}
h1{
    color: rgb(24, 21, 2);
    font-family: 'Orelega One', cursive;
    text-align:center;
    
}
h2{
    
  
   
    color: darkgoldenrod;
    font-family: 'Orelega One', cursive;
    text-align:center;

}
hr{
    color: darkgreen;
}


nav ul li {
    display: inline-block;
    color: white;
    margin-top: 34px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-right: 16px;
}

#secound_nav{
    color: darkcyan;
    text-decoration:darkgreen;
    font-weight: bold;
  
}
footer{
    text-align: center;
    color:goldenrod;
    background-color: brown;
    
}